header{
  background: ;
}
nav{
  background: ;
}
footer{
  background: ;
}
body{
  background: #3b3839;
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
h1{
  font-weight: 700;
}
p{
  line-height: 20px;
  letter-spacing: 2px;
}
strong{
  color: black;
}
section{
  background: ;
}
#titulo{
  color: orange;
}
.titulo{
  color: red;
}
footer p:nth-child(2){
  color: white;
  text-transform: uppercase;
  text-shadow: 5px 5px 5px;
}
