header{
  background: orange;
}
nav{
  background: lightblue;
}
footer{
  background: green;
}
body{
  background: #3b3839;
  color: gray;
}
section{
  background: pink;
}
#titulo{
  color: orange;
}
.titulo{
  color: red
}
